.container {
   margin-left: auto;
   margin-right: auto;
}

.page-header {
   height: 100vh;
   background-size: cover;
   margin: 0;
   padding: 0;
   border: 0;
   display: flex;
   align-items: center;
}

.row {
   height: 840px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#fileInput::-webkit-file-upload-button {
   visibility: hidden;
}

input[type='file'] {
   color: rgba(0, 0, 0, 0)
 }

.avatar
{
   height:150px;  
   /* margin-top: 15px;
   height: 50px;
   width: 50px;
   position: relative;
   border-radius: 50%;   
   background-size: 100% 100%;
   overflow: hidden;  */
}

#fileInput {

    /* width: 120px; */
    height: 150px;
    /* text-align: center; */
    background-repeat: no-repeat;
    background-position: center center;
}

/* #fileInput {
   position: absolute;
   bottom: 0%;
   outline: none;
   color: transparent;
   width: 100%;
   box-sizing: border-box;
   padding: 10px 3px;
   cursor: pointer;
   transition: 0.5s;
   background-image: url(../../Image/userIcon.jpg);
   background-size: 100% 100%;
} */

.ml-auto,
.mx-auto {
   margin-left: auto !important;
}

.mr-auto,
.mx-auto {
   margin-right: auto !important;
}

.header-filter:after,
.header-filter:before {
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
   display: block;
   left: 0;
   top: 0;
   content: "";
}

h8 {

   white-space: nowrap;
   overflow: hidden;
   display: block;
   font-size: 1.17em;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
   unicode-bidi: isolate
}

.profile-page .page-header {
   height: 112px;
   background-position: center;
}

.main-raised {
   margin: -60px 30px 0;
   border-radius: 6px;
   box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.mainpro {
   background: #FFF;
   position: relative;
   z-index: 3;
}

.profile-page .profile {
   text-align: center;
}

.profile-page .profile #fileInput {
   max-width: 150px;
   width: 100%;
   margin: 0 auto;
   -webkit-transform: translate3d(0, -50%, 0);
   -moz-transform: translate3d(0, -50%, 0);
   -o-transform: translate3d(0, -50%, 0);
   -ms-transform: translate3d(0, -50%, 0);
   transform: translate3d(0, -50%, 0);
}

.img-raised {
   box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded-circle {
   border-radius: 50% !important;
}

.img-fluid,
.img-thumbnail {
   max-width: 100%;
   height: auto;
}
.labelgap
{
   margin-top: 15px;
}
 .titlepro {
   margin-top: 20px;
   margin-bottom: 25px;
   min-height: 32px;
   color: #3C4858;
   font-weight: 700;
   font-family: "Roboto Slab", "Times New Roman", serif;
}

.profile-page .profile .name {
   margin-top: -80px;
   height: 100px;
}

.mt-2 {
   margin-top: .5rem !important;
}

label {
   display: block;
   text-align: left;
}

.button {
   text-align: center;
   margin: 0 auto;
   margin-top: -100px;
}
.form-control {
   column-gap: 40%;
   
}
select{
   width:100%;
   padding: 5px;
   border: var(--bs-border-width) solid var(--bs-border-color);
}
